<label for="avatar">Choose a profile picture:</label>

<input type="file" id="pic" name="{{file}}" >

<accept="image/png, image/jpeg"> 



<img id="image" src={{file}} alt="image" height="200px" width="200px"> 